<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Find youur match</h1>
        <p class="lead">Come on in to view your matches!</p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg me-2" (click)="registerToggle()">Register</button>
            <button class="btn btn-primary btn-info btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container" text-center>
        <div class="row justify-content-center">
            <div class="col-4">
                <!-- pass 'users' from HomeComponent to 'usersFromHomeComponent' in RegisterComponent -->
                <!-- <app-register [usersFromHomeComponent]="users"></app-register> -->
                <!-- pass 'cancelRegister' from RegisterComponent to 'cancelRegisterMode()' in HomeComponent -->
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
